.title {
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}
.btn {
  height: 32px;
  min-width: 64px;
  border: 3px solid #ccc;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  margin-left: 16px;
  /* background-color: bisque; */
}
